.header_top img {
    width: 80px;
}

.my_lens {
    height: 25px;
}

/* BTN */

.my_btn {
    border-radius: 50px;
}

.my_btn_dark{
    color: white;
    background-color: #363636;
}
.my_btn_white {
    color: #000;
    background-color: #fff;
}

.my_btn_red{
    color: white;
    background-color: #CD3D0F;
}

.my_btn_blue{
    color: white;
    background-color: #2B72CE;
}

.my_btn_grayblue {
    color: #2B72CE;
    background-color: #D9DADC;
}

/* Main */

main {
    margin-top: 115px;
}

#my_jumbo_slider {
    background-image: url(../img/jumbo-bg.png);
}

#my_takes_banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#my_plus_banner {
    background-color: #BEBCBB;
}

#my_now_banner {
    background-color: #161C3B;
}

.banner {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.my_jumbo_text {
    padding-top: 20%;
    padding-bottom: 60px;
}

.my_selected {
    outline: 3px solid #2B72CE;
    outline-offset: 3px;
}

.my_img_selected {
    border-bottom: 2px solid #2B72CE;
}

.my_img_deselected {
    opacity: 0.5;
}

/* Hover */

.my_btn_red:hover {
    color: #CD3D0F;
    background-color: #fff;
}

.console_items .my_img_deselected:hover {
    border-bottom: 2px solid #2B72CE;
    opacity: 1;
}
