.header_top img {
    width: 80px;
}

.my_lens {
    height: 25px;
}

/* BTN */

.my_btn {
    border-radius: 50px;
}

.my_btn_dark{
    color: white;
    background-color: #363636;
}

.my_btn_red{
    color: white;
    background-color: #CD3D0F;
}


/* Main */

main {
    margin-top: 115px;
}

#my_jumbo_slider {
    background-image: url(../img/jumbo-bg.png);
}

.banner {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.my_jumbo_text {
    padding-top: 20%;
    padding-bottom: 60px;
}

/* Hover */

.my_btn_red:hover {
    color: #CD3D0F;
    background-color: #fff;
}

section#game_select img:hover {
    border: 2px solid blue;
    padding: 3px;
}